include ../variables/var_header.pug
include ../component/carousel.pug

mixin title_page(title_page)
    h2.title_page= title_page 

header 
    .top__menu 
        .container.d-flex 
            ul.top__menu--items.d-flex
                each menu_items in menu_top 
                    - const {title, link, id} = menu_items;
                    li.line( id=`${id}`)
                        a(href=link class=`${current === link ? 'active-menu' : ''}`).under=title

            .top__menu--search.ml-auto
                input(type='text' id="search" placeholder='Tìm kiếm ở đây...')
                span.bi.bi-search
        - if (current === '/')
            +carousel-header()
    .main__menu
        .container
            .nav.d-flex.align-items-center
                .logo
                    img(src="../assets/img/logo.png" alt="logo")

                ul.ml-auto.d-flex.menu
                    each menu_items in main_menu
                        - const {title, link, sub_menu} = menu_items;
                        if sub_menu
                            .active
                                a(class=`${current === link ? 'active-menu' : ''}`, href=link).main_items.sub=title
                                .mega_menu
                                    ul.sub_menu
                                    each items in sub_items
                                        - const {title, link, menu_items} = items;
                                            li.active
                                                h3=title
                                                each item in menu_items 
                                                    a(href="#")=item
                                    .sub_img
                                        img(src="../assets/img/sub_menu_img.jpg" alt="a")
                        else
                            li 
                                a(class=`${current === link ? 'active-menu' : ''}`, href=link).main_items=title

                label.icon(for='menu').ml-auto
                    i.bi.bi-list
            input#menu.show(type='checkbox' hidden)
            .menu-mobile
                ul
                    each menu_item in main_menu 
                        - const {title, link} = menu_item;
                        li(class=`${current === link ? 'active-menu' : ''}`)
                            a( href=link)= title